/* ===== GENERAL ===== */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: linear-gradient(135deg, #0b3c5d, #1d6fa5);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ===== CAJA LOGIN ===== */
.login-container {
  width: 360px;
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.2);
}

/* ===== HEADER LOGIN ===== */
.login-header {
  background: linear-gradient(135deg, #0b3c5d, #0b2d39);
  color: white;
  padding: 20px;
  text-align: center;
}

.login-header h2 {
  margin: 0;
}

.login-header p {
  margin: 5px 0 0;
  font-size: 14px;
}

/* ===== CUERPO ===== */
.login-body {
  padding: 25px;
}

/* ===== INPUTS ===== */
.login-body input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
  transition: 0.3s;
}

/* EFECTO FOCUS */
.login-body input:focus {
  border-color: #0b3c5d;
  outline: none;
  box-shadow: 0px 0px 6px rgba(11, 60, 93, 0.3);
}

/* ===== BOTONES ===== */
.botones-login {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

/* BOTÓN INGRESAR */
#btnLogin {
  flex: 1;
  background: linear-gradient(135deg, #0b3c5d, #1d6fa5);
  color: white;
  border: none;
  border-radius: 25px;
  padding: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

/* HOVER */
#btnLogin:hover {
  transform: translateY(-2px);
  background: linear-gradient(135deg, #072c45, #155a85);
}

/* BOTÓN LIMPIAR */
#btnLimpiar {
  flex: 1;
  background: #dbe9f4;
  color: #0b3c5d;
  border: none;
  border-radius: 25px;
  padding: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

#btnLimpiar:hover {
  background: #0b3c5d;
  color: white;
}

/* ===== FOOTER ===== */
.login-footer {
  text-align: center;
  font-size: 13px;
  color: #777;
  margin-top: 15px;
}

/* ===== BOTÓN VOLVER ===== */
.btn-volver {
  padding: 10px 20px;
  font-size: 10px;
  min-width: 20px;
  background: linear-gradient(135deg, #0b3c5d, #1d6fa5);
  color: white;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.btn-volver:hover {
  transform: translateY(-2px);
  background: linear-gradient(135deg, #072c45, #155a85);
}

.btn-volver:active {
  transform: scale(0.95);
}